*{
  padding: 0;
  margin: 0;
}

body{
  background-image: url('../images/rotom-dex.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.poke-logo{
  width: 30%;
  margin: 1% 35%;
}

h1{
  font-family: 'Boogaloo', cursive;
  color: white;
  text-align: center;
  font-size: 3em;
  font-stretch: expanded;
}

.panel-instructions{
  margin: 0 3%;
}

.notes{
  list-style: circle;
  padding: 0.5% 1%;
}

figcaption{
  font-family: 'VT323', monospace;
  color: white;
  font-size: 2em;
  text-align: center;
  background-color: darkblue;
}
